




@media (max-width: 1279px) {
   body{
   
    overflow: hidden;
    background-image: url(../img/img/imagem1800.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    

    
   }
    .container {
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

  }
  .background-movie{
    display: none;

    
  }
  .imagem{
    width: 200px;
    margin: 80px 0 0 0;
  }
  

}


@media (max-width:480px){
  body{ 
   
    background-image: url(../img/img/imagem600.png);
    background-repeat: no-repeat;
    
  }
  
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  section.container-block{
    padding: 0px;
    margin: 0px;

  }
  .welcome{
    width: 250px;

  }

}
  

